<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2> Posición Global del usuario [[UserID]] </h2>

    <template is="dom-repeat" items="{{accounts}}">
      <h3> Cuenta: [[item.IBAN]] </h3>
      <h3> Balance: [[item.Balance]]</h2>
      <br>
    </template>

    <iron-ajax auto
      id="getUserAccountsByIdV2"
      url="http://localhost:3000/apitechu/v2/users/{{UserID}}/accounts"
      handle-as="json"
      on-response="showData" />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasUsuario extends Polymer.Element {
      static get is() { return 'cuentas-usuario'; }
      static get properties() {
        return {
          IBAN: {
            type: String
          },
          UserID: {
            type: String
          },
          accounts: {
            type: Array
          },
          Balance: {
            type: Number
          }
        };
      }
      showData (data) {
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(CuentasUsuario.is, CuentasUsuario);
  </script>
</dom-module>
